html,
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    height: 100%;
    width: 100%;
    background-color: #f3f3f3;
    display: flex;
}

.select-container,
.data-container {
    display: flex;
    padding: 1rem;
}

.select-container {
    width: 15%;
    flex-direction: column;
    gap: 2rem;
}

.data-container {
    width: 85%;
}

.select-container select {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.select-container label {
    font-weight: bold;
}

.svg-container {
    width: 70%;
}

.details-container {
    width: 30%;
    background-color: #ffffff;
    padding: 1rem;
    margin-bottom: 8rem;
}

.details-container dl {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h2 {
    text-align: center;
}

select {
    padding: 0.5rem;
}

dd,
dt {
    display: block;
    margin: 0;
}

dd {
    text-align: end;
}
